<%- include('./partials/header.ejs') %>

<h1><%= !collectionAuthor ? "All Stories" : `${collectionAuthor}'s Collection` %></h1>

<ul>
    <% for(let i = 0; i < stories.length; i++) {
   
        let fruitNumber = i + 1
      %>
        <li class="indexitems">
          <a href="/stories/<%= stories[i].id %>"> <%= stories[i].title %> </a>

         
         </li>
      <% } %>

</ul>


<button><a href="/stories/new" >CREATE</a></button>


<%- include('./partials/footer.ejs') %>