<%- include('./partials/header.ejs') %>

<h1><%= !collectionAuthor ? "All Stories" : `${collectionAuthor}'s Collection` %></h1>

<ul class="storiesList">
    <% for(let i = 0; i < stories.length; i++) {
   
        let fruitNumber = i + 1
      %>
        <li class="indexitems">
          <a class="indexlink" href="/stories/<%= stories[i].id %>"> 📖 <%=  stories[i].title %> </a>

         
         </li>
      <% } %>
         <li class="indexitems createButtonBook"><button id="createButton"><a href="/stories/new" >CREATE</a></button></li>
</ul>





<%- include('./partials/footer.ejs') %>