<%- include('./partials/header.ejs') %> <% console.log(userId) %>
<h1 class="createh1">CREATE STORY</h1>

<% const imagesArray = [ 'f29a69a312854026bc60cf642912d67a',
'c8bc8ac99f084606a70c60c416265d5e', '68e64b0835424fef9d597191bd5cdd29',
'c7dd3f813d054957ab85accdfd6e47fd', 'cee0f559cae0483bb670840c7998d838',
'b18c8a87911d439f999147735d7b0a6f', 'e2281df20d2244d4927adde7f3328d7b',
'26f81b24d83441ba88c7e80a52adbaaf', //cool purple one
'875a1619d86b43a2acd90b8a7c4ca4a2', '3e0b5185d1f8435b993e1bad2f82928e',
'a8a77bbafe074d62ac3d2288b02cdc29', 'cc6c6b4b0b9c49a8816a8ba13cadd919',
'b819181e3ca84671afb06541a6dd402d', '322968402fc2493da01566ea066c102f',
'8acb8179a9db4296a32656c88bbf709e', 'c2556d996f00436cb7649f09c8108fc5',
'd43e69639051494e84692c2632f4278e', '69cf06ed2bf64980b41b6cd81b87d8ce',
'2d981f2344624ddb89f5a622a39f3579', '2d53ed1bdd9640eea0c6f2085c682ebb',
'ee237d3fe1114c04a59deef590836296', '6d7fc2df62e7415aae9585f258f5efb8',
'0974de1a9bb7415d8f39ae5eaeecfb3c', '21b8f53ea2ec44cd87b0ee3e5b3346a4',
'82a65a613cc14a908247b98439f3b135', 'ed005b70429e4208b517fe425910c19f',
'06d5a80a04fc4c5ab552759e9a97d91a', '71007d05039a45ffa40c74d5a2ad6ddd', ] %> <%
const randomNum = Math.floor(Math.random() * imagesArray.length) %>

<div class="sketchfab-embed-wrapper">
  <iframe
    frameborder="0"
    allowfullscreen
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    allow="autoplay; fullscreen; xr-spatial-tracking"
    xr-spatial-tracking
    execution-while-out-of-viewport
    execution-while-not-rendered
    web-share
    width="640"
    height="480"
    src="https://sketchfab.com/models/<%= imagesArray[randomNum] %>/embed"
  >
  </iframe>
</div>

<% console.log(imagesArray[randomNum]) %>

<form class="createStoryForm" method="POST" action="/stories">
  <fieldset class="createStoryFieldset">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="TITLE HERE" required />
  </fieldset>

  <fieldset class="createStoryFieldset">
    <label for="storyText">Story:</label>
    <textarea
      id="storyText"
      name="storyText"
      rows="10"
      cols="50"
      required
    ></textarea>
  </fieldset>

  <fieldset class="createStoryFieldset">
    <label for="author">AuthorID: </label>
    <input id="author" type="text" name="author" readonly value="<%=userId%>" />
  </fieldset>

  <input
    type="text"
    value="<%=imagesArray[randomNum].toString() %>"
    name="image"
    readonly
  />

  <input type="submit" value="Submit" />
</form>

<%- include('./partials/footer.ejs') %>
