<%- include('./partials/header.ejs') %>

<% let hiddenClass = '' %>
<% userId === story.author.id? hiddenClass = '': hiddenClass ='hidden' %>  


<form class="<%= hiddenClass %>" action="/stories/<%= story.id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
</form>

<button class="<%= hiddenClass %>" type="button"><a href="/stories/<%= story.id %>/edit">EDIT</a></button>

<div class="wrapper">
    <div class="aspect">
      <div class="aspect-inner">
        <div class="flipbook" id="flipbook">

        <div class="page hard">
            <h1><%= story.title %></h1> 
            <img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/01.jpg" draggable="false" alt="" />
            <p>By <a href="/stories/user/<%= story.author.id %>"><%= story.author.firstName %></a></p>
        </div>

          <div class="page hard">
            <iframe autoplay width="640" height="360" src="https://sketchfab.com/models/<%= story.image %>/embed?autostart=1" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            
        </div>

        

        <div class="page">
            <p><%= story.storyText %></p>
        </div>

        <div class="page">
            <p><%= story.storyText %></p>
        </div>

        

        <div class="page hard"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/06.jpg" draggable="false" alt="" /></div>

        <div class="page hard">
        </div>

        </div>
      </div>
    </div>
  </div>
<script>
    let flipbookEL = document.getElementById('flipbook');
    console.log("LINKED")
    
    // window.addEventListener('resize', function (e) {
    //     flipbookEL.style.width = '';
    //   flipbookEL.style.height = '';
    //   $(flipbookEL).turn('size', flipbookEL.clientWidth, flipbookEL.clientHeight);
    // });
    
    $(flipbookEL).turn({
        autoCenter: true
    });
    
</script>


</body>
</html>  