<%- include('../partials/header.ejs') %>

<h1>AUTHORS</h1>

<% console.log(users) %>

<ul class="usersIndex">
    <% for(let i = 0; i < users.length; i++) {
        let userNumber = i + 1
        %>

    <li>
        <a class="usersIndexLink" href="/stories/user/<%= users[i].id %>"> <%= users[i].firstName %> <%= users[i].lastName %> </a>
        
    </li>   

   <% } %>
</ul>


<%- include('../partials/footer.ejs') %>